body {
    text-align: center;
    padding-top: 30px;
    background-color: #303030;
}

.input {
    padding: 20px;
}

.list {
    background-color: rgb(135, 171, 222);
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    list-style: none;
    padding: 20px;
}

.list li {
    border: 2px solid rgb(0, 119, 255);
    margin-top: 20px;
    padding: 20px;
}